@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');
body {
    font-family: 'Sofia Sans Condensed', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    background-color: #49ef5c;
    border-radius: 25px 10px 25px 10px;
}


.actions button {
    margin: 10px;
    height: 35px;
    width: 10%;
    cursor: pointer;
    border: 1px solid white;
    background-color: #DF73FF;
    border-radius: 15px;
}


.actions button:hover {
    background-color: #49ef5c;
    svg {
        fill: #fff;
    }
}



.actions a {
    margin: 10px;
    color: rgba(138, 43, 226, 0.8);
    font-weight: bold;
    border-radius: 15px;
    padding: 8px;
    text-decoration: none;
    text-transform: uppercase;
}


.actions a:hover{
    background-color: #49ef5c;
    color: white;
}


.actions button:hover {
    background-color: #49ef5c;
    svg {
        fill: #fff;
    }
}

.hero-section {
    background: url('https://via.placeholder.com/1500x500') no-repeat center center/cover;
    color: rgba(138, 43, 226, 0.8);
    padding: 100px 0;
    text-align: center;
}
.hero-section h1 {
    font-size: 3.5rem;
    font-weight: bold;
}
.hero-section p {
    font-size: 1.5rem;
}
.btn-primary {
    background-color: #49ef5c;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 1.2rem;
}
.btn-primary:hover {
    background-color: #228B22;
}
.features-section {
    padding: 50px 0;
    background-color: white;
}
.feature-icon {
    font-size: 3rem;
    color: #49ef5c;
}
.footer {
    background-color: #49ef5c;
    color: white;
    padding: 5px 0;
    text-align: center;
}