@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');
body {
    font-family: 'Sofia Sans Condensed', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    background-color: #49ef5c;
    border-radius: 25px 10px 25px 10px;
}


.actions button {
    margin: 10px;
    height: 35px;
    width: 10%;
    cursor: pointer;
    border: 1px solid white;
    background-color: #DF73FF;
    border-radius: 15px;
}


.actions button:hover {
    background-color: #49ef5c;
    svg {
        fill: #fff;
    }
}



.actions a {
    margin: 10px;
    color: rgba(138, 43, 226, 0.8);
    font-weight: bold;
    border-radius: 15px;
    padding: 8px;
    text-decoration: none;
    text-transform: uppercase;
}


.actions a:hover{
    background-color: #49ef5c;
    color: white;
}


.actions button:hover {
    background-color: #49ef5c;
    svg {
        fill: #fff;
    }
}


.profile-container {
    max-width: 700px;
    margin: 50px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    /* text-align: center; */
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}

/* Заголовок профиля */
.profile-container h1 {
    font-size: 2rem;
    color: #2c3e50;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Баллы */
.profile-container .points {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 30px;
}

.profile-container .points strong {
    color: #4CAF50;
    font-size: 1.5rem;
}


.qr-card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.qr-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.qr-card img {
    max-width: 200px;
    height: auto;
    border-radius: 10px;
}

.ranking {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.list-group-item {
    font-size: 16px;
}

.list-group-item span {
    font-weight: bold;
}


